/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Overwrite browser default */
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    font-family: Lato, Helvetica, sans-serif;
    background-color: lightgrey;
    min-height: 100%;
}
h1, h2, h3 {
    line-height: 1.6;
    font-weight: 600;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

li {
    margin-left: 20px;
    line-height: 1.4;
}

.title {
    text-align: center;
}
.content {
    width: 350px;
}


/* Header & Steps styling */
header {
    background-color: lightskyblue;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: center;
}

.steps_group {
    padding: 20px 0px 20px 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step_active {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;

}

.step_done {
    height: 60px;
    width: 60px;
    background-color:lightslategrey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
}

#step_name {
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

/* Main */
main {
    padding: 20px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input fields at step 1 */
#form_1 {
    max-width: 540px;
}

.form_element {
    padding: 20px 0px 20px 0px;
}

#profession_dropdown {
    width: 100%;
    height: 40px;
    border-radius: 1cap;
    padding: 0px 10px 0px 10px;
    margin: 0px 20px 0px 20px;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -o-calc(100% - 40px);
}

.seniority_radio {
    margin: 0px 5px 0px 20px;
}

/* Platform logos at step 2 */
#platform-imgs {
    display: grid; 
    grid-template-rows: auto; 
    grid-template-columns: 25% 25% 25% 25%; 
}

.img-raster-element {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding-bottom: 30px;
    text-align: center;
}

.platform-logos {
    height: 60px;
    padding: 25px 25px 15px 25px; 
    opacity: 50%;
}

.platform-logos:hover {
    opacity: 100%;
}

.platform-logos-selected {
    height: 60px;
    padding: 25px 25px 15px 25px;
    opacity: 100%;
}

/* Butget form at step 3 */
#budget-form {
    display: flex;
    align-items: center;
    flex-direction: column;}

#budget {
    height: 50px;
    width: 250px;
    font-size: 1.6rem;
    padding: 5px 10px 5px 10px;
    margin: 50px 20px 20px 20px;
    border-radius: 1cap;
}

#currency-symbol {
    font-size: 2rem;
}


/* Results at step 4 */

.result-element li {
    list-style-type: none;
    margin-left: 0px;

}

.bad-platform {
    background-color: rgba(255, 0, 0, 0.354);
    padding: 20px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 1cap;
}

.semibad-platform {
    background-color: rgba(210, 105, 30, 0.454);
    padding: 20px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 1cap;
}

.mediocre-platform {
    background-color: rgba(210, 189, 30, 0.454);
    padding: 20px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 1cap;
}

.good-platform {
    background-color: rgba(152, 160, 13, 0.454);
    padding: 20px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 1cap;
}

.top-platform {
    background-color: rgba(58, 175, 22, 0.454);
    padding: 20px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 1cap;
}

.additional-recommentation {
    background-color: white;
    border-radius: 1cap;
    border-color: red;
    border-style: solid;
    border-width: 3px;
    padding: 10px 10px 10px 10px;
}

/* Buttons for step navigation */
.nav_buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.buttons {
    width: 150px;
    padding: 15px 40px 15px 40px;
    background-color: white;
    border: none;
    border-radius: 1cap;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);}

.buttons:hover {
    background-color: gray;
}


/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px 20px 20px 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1cap;
}