/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Overwrite browser default */
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    font-family: Lato, Helvetica, sans-serif;
}
h1, h2, h3 {
    line-height: 1.6;
    font-weight: 600;
}
.title {
    text-align: center;
}
.content {
    max-width: 540px;
    margin-bottom: 50px;
}


/* Header & Steps styling */
header {
    background-color: lightskyblue;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: center;
}

.steps_group {
    padding: 20px 0px 20px 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
}
.step {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    background-color: lightgrey;
    padding: 20px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#form_1 {
    max-width: 540px;
}

.form_element {
    padding: 20px 0px 20px 0px;
}

#profession_dropdown {
    width: 100%;
    height: 40px;
    border-radius: 1cap;
    padding: 0px 10px 0px 10px;
    margin: 0px 20px 0px 20px;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -o-calc(100% - 40px);
}

.seniority_radio {
    margin: 0px 5px 0px 20px;
}



/* Buttons for step navigation */
.nav_buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.buttons {
    width: 150px;
    padding: 15px 40px 15px 40px;
    background-color: white;
    border: none;
    border-radius: 1cap;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);}

.buttons:hover {
    background-color: gray;
}


footer {
    padding: 20px 20px 20px 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}